@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

@layer base {
  [type="text"],
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  [multiple],
  textarea,
  select {
    @apply border-gray-300 focus:border-blue-500 focus:ring-blue-500 rounded-lg shadow-sm;
  }

  a {
    @apply text-main hover:text-green-400
  }

  [type="checkbox"],
  [type="radio"] {
    @apply border-gray-300 focus:ring-blue-500 h-5 text-blue-600 w-5;
  }

  [type="checkbox"] {
    @apply rounded;
  }

  [type="radio"] {
    @apply rounded-full;
  }

  * {
    @apply  text-sm sm:text-base
  }
}

@layer components {
  .prose :where(code):not(:where([class~="not-prose"] *)) {
    @apply bg-gray-200 dark:bg-gray-800 dark:text-white font-normal px-1 py-0.5 rounded-md text-sm;
  }

  .prose :where(code):not(:where([class~="not-prose"] *))::before {
    content: "";
  }

  .prose :where(code):not(:where([class~="not-prose"] *))::after {
    content: "";
  }

  .title-section {
    @apply text-main font-bold text-2xl sm:text-4xl  relative pb-4 uppercase text-center;
  }
  .title-section:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    border-width: 2px;
    transform: translateX(-50%);
    @apply border-b border-main w-20;
  }
}

.dropdown {
  position: relative;
  @apply text-main font-semibold
}
.dropdown-content {
  display: none;
  border-radius: 5px;
  min-width: 150px;
  transition: max-height 0.3s linear;
}
.dropdown:hover > .dropdown-content {
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 2px 2px 5px rgb(17 121 4 / 22%);
  max-height: 500px;
}
